<nav id="global-nav_<%= @lang.locale %>" class="navbar navbar-inverse" role="navigation">
  <div id="global-navigator">
    <ul class="nav navbar-nav">
      <% if @lang.locale == I18n.default_locale.to_s %>
	<li><a href="/"><%= t 'pages.common.header.top' %></a></li>
      <% else %>
	<li><a href="/<%= @lang.locale %>/"><%= t 'pages.common.header.top' %></a></li>
      <% end  %>
      <li><a href="/<%= @lang.locale %>/products/"><%= t 'pages.common.header.products' %></a></li>
      <li><a href="/<%= @lang.locale %>/howto.html"><%= t 'pages.common.header.howto' %></a></li>
      <li><a href="/<%= @lang.locale %>/aboutus.html"><%= t 'pages.common.header.aboutus' %></a></li>
      <li><a href="/<%= @lang.locale %>/contactus.html"><%= t 'pages.common.header.contactus' %></a></li>
    </ul>
  </div>
</nav>
